/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: myHelvetica;
    src: url(assets/font/Helvetica-Neue-LT-Com-75-Bold.ttf);
    font-weight: bold;
    font-size: 1.8rem;
}

:root {
    --lightBlue: #7AA7D9;
    --blue: #00425b;
    --lightOrange: #FAB633;
    --orange: #f28c00;
    --coolGray: #C8C8C8;
}

html,
body {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(243, 240, 240);
    font-family: myHelvetica;
    font-weight: bold;
    font-size: 1rem;
    font-weight: 120;
    color: rgb(151, 151, 151);
    margin: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

.full-height {
    /* height: 100%;
    max-height: 100% */
}

input {
    margin: 8px 12px 12px 0px;
    padding: 12px 12px 12px 12px;
    width: 90%;
    background-color: #d4d4d469;
    border: #d4d4d469;
}

input:focus {
    background-color: #fdfdfde1;
}

button {
    margin: 12px 12px 12px 12px;
    background-color: var(--orange);
    border: 1px solid var(--orange);
    color: #fff;
    display: inline-block;
    font-size: 15px;
    height: auto;
    padding: 10px 25px;
    line-height: 1.2em;
    outline: none;
    font-weight: bold;
    text-transform: uppercase;
}

.module-button {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #f28c00 !important;
    border: 1px solid #f28c00 !important;
    color: #fff !important;
}

.module-button:hover {
    background-color: transparent !important;
    border: 1px solid #f28c00 !important;
    color: #f28c00 !important;
}

.box {
    width: 100%;
    box-shadow: 0px 10px 10px -6px rgb(95, 95, 95);
    margin: 12px 12px 12px 12px;
    padding: 40px 40px 40px 40px;
    background-color: white;
}

.main-box {
    width: 100%;
    box-shadow: 10px 10px 10px -6px rgb(95, 95, 95);
    margin: 12px 12px 12px 12px;
}

.box-align-right {
    text-align: right;
}

#myColorPreving {
    color: #7AA7D9;
    color: #00425b;
    color: #FAB633;
    color: #f28c00;
    color: #C8C8C8;
}


/*ANGULAR MATERIAL STYLING*/

.mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
}

.mat-select-arrow {
    /* width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin: 0 4px; */
}

.multiple-selector {
    color: #0d6efd;
    background-color: #ffffff;
    box-sizing: border-box;
    /* width: 300px; */
    /* height: 100px; */
    padding: 12px;
    border: 2px solid blue;
}

.box {
    width: 100%;
    box-shadow: 0px 10px 10px -6px black;
    margin: 8px 8px 8px 8px;
    padding: 8px 8px 8px 8px;
    background-color: white;
}

.blue-box {
    width: 100%;
    box-shadow: 0px 10px 10px -6px black;
    margin: 8px 8px 8px 8px;
    padding: 8px 8px 8px 8px;
    background-color: var(--blue);
    color: white;
}

